// #EFFFFB - najjaśniejszy
// #50D890
// #4F98CA
// #272727 - najciemniejszy

.header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: blueviolet;
  }
&__banner {
    text-align: center;
    background-color: #f1be45;
}
}
