// #EFFFFB - najjaśniejszy
// #50D890
// #4F98CA
// #272727 - najciemniejszy


.header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    // border: solid 1px black;
    background-color: #EFFFFB; 
    h1 {

        font-size: 150px;
        color: #4F98CA
    }
}