@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body{
  font-family: 'Raleway', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

.clearfix{
	clear: both;
}